.timeline {
    background-color: #F2EAE1;
    min-height:90vh;
    margin:0;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      top:0px;
      left:50%;
      bottom:0px;
      transform:translateX(-50%);
      width:4px;
      background-color:rgb(255, 255, 255);
    }
    .entries {
      width:calc(100% - 80px);
      max-width:800px;
      margin:auto;
      position: relative;
      left:-5px;
      .entry {
        width:calc(50% - 80px);
        float:left; 
        padding:20px;
        clear:both;
        color: #d8cca3;
        text-align:right;
        &:not(:first-child) {
          margin-top:-60px;
        }
        .title {
          font-size:25px;
          margin-bottom:12px;
          position: relative;
          color:rgb(45, 45, 45);
          &:before {
            content: '';
            position: absolute;
            width:8px;
            height:8px;
            border:4px solid #6e6e6e;
            background-color:#000000;
            border-radius:100%;
            top:50%;
            transform:translateY(-50%);
            right:-73px;
            z-index:1000;
          }
          &.big:before {
            width:24px;
            height:24px;
            transform:translate(8px,-50%);
          }
        }
        .body {
          color:rgb(109, 109, 109);
          p {
            line-height:1.4em;
            font-size: 0.9em !important;
          }
        }
        &:nth-child(2n) {
          text-align:left;
          float:right;
          .title {
            &:before {
              left:-63px;
            }
            &.big:before {
              transform:translate(-8px,-50%);
            }
          }
        }
      }
    }
  }

@media (max-width: 650px) {
  .font_size{
    margin: 0 !important;
    padding: 0.5em !important;
    line-height: 1rem !important;
    font-size: 1rem;
  }
  .entry{
    padding-left: 0 !important;
    padding-right: 1.9em !important;
    width: 10em !important;
    color: #c8cd3e;
    .body{
      p{
        font-size: 1em !important;
      }
    }
    .title {
      &:before {
          right:-1em !important;
      }
    }
      &:nth-child(2n) {
        padding-left: 2.7em !important;
        padding-right: 0.0em !important;

        .title {
          &:before {
            left: -1em !important;
          }
        }
      }
   }
}

@media (min-width: 950px) and (max-width: 1050px) {
  .font_size{
    margin: 0 !important;
    padding: 0.5em !important;
    line-height: 1.2rem !important;
    font-size: 1rem;
  }

}


@media (min-width: 680px) and (max-width: 950px) {
  .timeline{

    .entries {

      .entry{
        .body{
          p{
            font-size: 0.6em !important;
          }
        }
        .title{
          font-size: 1.1em !important;
        }
      }
      
    }
  }

  .entry{
    padding-left: 0.1em !important;
    padding-right: 2em !important;
    width: 7em !important;
    color: #c8cd3e;
    .title {
      &:before {
          right:-1em !important;
      }
    }
      &:nth-child(2n) {
        padding-left: 2.5em !important;
        padding-right: 0.0em !important;

        .title {
          &:before {
            left:-1em !important;
          }
        }
      }
   }
}
